@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$mobileBreakPoint: 375px;
$tabletBreakPoint: 1024px;
$desktopBreakPoint: 1440px;

$darkBlue: hsl(233, 47%, 7%);
$blue: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$whiteTrans-75: hsla(0, 0%, 100%, 0.75);
$whiteTrans-60: hsla(0, 0%, 100%, 0.6);

$font-size: 15px;

$inter: "Inter", sans-serif;
$lexend: "Lexend Deca", sans-serif;